{{> header}}

<main class='container'>
  {{> breadcrumb}}
  <div class='card p-2 mt-4'>
    {{> search}}
  </div>
  <div class='mt-5 row'>
    <div class='col-md-3'>
      <div class='card'>
        <div class='card-header'>Filter</div>
        <div class='card-body'>
          <div class='mb-3'>
            <label for='exampleFormControlInput1' class='form-label fw-bold'>Bus
              Operator</label>
            <select class='form-select' aria-label='Default select example' id="filter-bus-operator">
              <option value="" selected>All</option>
            </select>
          </div>
          <div class='mb-3'>
            <label for='exampleFormControlInput1' class='form-label fw-bold'>Types of seat</label>
            <div class='form-check'>
              <input class='form-check-input' type='radio' value='0' name="typeOfSeat" />
              <label class='form-check-label' for='flexCheckDefault'>
                Limousine
              </label>
            </div>
            <div class='form-check'>
              <input class='form-check-input' type='radio' value='1' checked name="typeOfSeat" />
              <label class='form-check-label' for='flexCheckChecked'>
                Normal Seat
              </label>
            </div>

            <div class='form-check'>
              <input class='form-check-input' type='radio' value='2' name="typeOfSeat" />
              <label class='form-check-label' for='flexCheckDefault'>
                Sleeper Bus
              </label>
            </div>
          </div>
          <div class='mb-3'>
            <label for='exampleFormControlInput1' class='form-label fw-bold'>Pricing (<span
                id="current-pricing">0</span>)</label>

            <input type='range' min="0" max="10000000" value="0" step="100000" class='form-range' id='filter-pricing' />

            <div class='d-flex justify-content-between'>
              <span class='fw-bold text-black-50'>0đ</span>
              <span class='fw-bold text-black-50'>10.000.000đ</span>
            </div>
          </div>
          <div class='d-grid gap-2 col-6 mx-auto'>
            <a id="filter" class='btn btn-primary float-center'>Submit</a>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-9'>
      <div id="list-of-buses-div">
      </div>

      <div class='d-grid gap-2 col-3 mx-auto'>
        <a class='btn btn-outline-primary float-center' id="load-more">Load more</a>
      </div>
    </div>
  </div>
</main>